pkgbase = totp-cli-rofi
	pkgdesc = Simple CLI TOTP tool with rofi integration
	pkgver = 1.1.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = fzf
	depends = rofi
	depends = jq
	depends = gnupg
	depends = oath-toolkit
	depends = xdotool
	depends = bash
	source = totp-cli-rofi-1.1.0.tar.gz::https://github.com/eldiaboloz/totp-cli-rofi/archive/v1.1.0.tar.gz
	sha256sums = a157f978ebe5cc76f1b336ed6f353957c3ba2988fe4237efa1f2be0030cc8bf2

pkgname = totp-cli-rofi
